body{ background-color: aquamarine;}
.container{ background-color: lightgreen; width: 100%; 
    margin: 0; margin-top: 10%;}
.headermenu{ position: fixed; top: 0; left: 0;  width: 100%; 
    padding: 1%; margin: 0px; text-align: center; 
    background-color: hsl(351, 100%, 80%,60%);}
.container main img{ width: 10%;}
/*
header nav ul li{ list-style: none;}*/
/* evento sobre el object hover*/
.menu{width: 100%;}
.menu ul li{ list-style: none; float: left;}
.menu ul li a{color: rgb(63, 3, 203);
     text-decoration: none;
     display: inline-block; padding: 5PX;
      background-color: beige;}
.menu ul li a:hover{color: crimson;
background-color: lightgray;}   
footer{ width: 100%; 
    padding: 2px; margin: 1px; text-align: center; 
    background-color: hsl(351, 100%, 80%,60%); 
    color: ghostwhite;}  
.container footer img{ width: 2%;}
.container main{ font-family: verdana;
padding-left: 10px;}
.posicionRelativa{background-color: rgb(162, 115, 205);
     position: relative; left: 30%;
width: 30%; height: 200px;
 border: 3px solid #e4510c;}
.posicionAbsoluta{position: absolute; width: 50%; 
    height: 100px; border: 3px solid ghostwhite;
     right: 0; bottom: 0px; 
     background-color: rgb(114, 188, 252); overflow: auto;} 
.posicionsticky{ position: sticky; width: 10%; height: 150px;
     border: 3Px solid crimson;
     background-color: rgb(255, 25, 171);
      color: ghostwhite; text-align: center;
    top: 10;}
.galeriavoidall{width: 100%;
     overflow: hidden; background-color: rgb(119, 119, 228);}
.galeriavoid{float: left; text-align: center;}
.desc{text-align: center; color: antiquewhite;}
.galeriavoid:hover{border: ghostwhite solid;}