body{ background-color: aquamarine;}
.container{ background-color: lightgreen; width: 100%; 
    margin: 10px; margin-top: 10%;}
.headermenu{ position: fixed; top: 0; left: 0;  width: 100%; 
    padding: 1%; margin: 0px; text-align: center; 
    background-color: hsl(351, 100%, 80%,60%);}
.container main img{ width: 10%;}
/*
header nav ul li{ list-style: none;}*/
/* evento sobre el object hover*/
.menu ul li{ list-style: none; float: left;}
.menu ul li a{color: rgb(63, 3, 203); text-decoration: none;
     display: inline-block; padding: 5PX; background-color: beige;}
.menu ul li a:hover{color: crimson;
background-color: lightgray;}   
footer{ width: 100%; 
    padding: 2px; margin: 1px; text-align: center; 
    background-color: hsl(351, 100%, 80%,60%); color: ghostwhite;}  
.container footer img{ width: 2%;}
.container main{ font-family: verdana;
padding-left: 10px;}